body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes floatUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); } /* Move up */
  100% { transform: translateY(0); } /* Move down */
}

.floating-chat-btn {
  animation: floatUpDown 1.5s infinite ease-in-out; /* Smooth floating effect */
}
